*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #6d5d4b;
  line-height: 1.6;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 85vh min-content 40vw (min-content)[3];
      grid-template-rows: 85vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
      grid-template-rows: 85vh min-content 40vw repeat(3, min-content);
  -ms-grid-columns: 8rem minmax(6rem, 1fr) (minmax(min-content, 14rem))[8] minmax(6rem, 1fr);
      grid-template-columns: 8rem minmax(6rem, 1fr) repeat(8, minmax(-webkit-min-content, 14rem)) minmax(6rem, 1fr);
      grid-template-columns: 8rem minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem)) minmax(6rem, 1fr);
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}

.heading-2--light {
  color: #f9f7f6;
}

.heading-2--dark {
  color: #54483a;
}

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
}

.heading-4 {
  font-size: 1.9rem;
}

.heading-4--light {
  color: #f9f7f6;
}

.heading-4--dark {
  color: #54483a;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.btn {
  background-color: #c69963;
  color: white;
  font-size: 1.5rem;
  padding: 1.8rem 3rem;
  text-transform: capitalize;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: #b28451;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.sidebar {
  background-color: #c69963;
  grid-row: 1 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.sidebar .nav {
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;
  background-color: white;
  border: none;
  border-radius: 0;
}

.sidebar .nav::after, .sidebar .nav::before {
  content: '';
  height: 2px;
  width: 4.5rem;
  background-color: white;
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.sidebar .nav::after {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.sidebar .nav::before {
  -webkit-transform: translateY(1.5rem);
          transform: translateY(1.5rem);
}

.sidebar .material-icons {
  position: fixed;
  color: white;
  font-size: 4.5rem;
  padding: 2.5rem 1.5rem;
}

.header {
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2 / 9;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(16, 29, 44, 0.8)), to(rgba(16, 29, 44, 0.8))), url("../Images/hero.jpeg");
  background-image: linear-gradient(to right bottom, rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.8)), url("../Images/hero.jpeg");
  background-size: cover;
  background-position: center;
  padding: 8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr min-content 6rem 1fr;
      grid-template-rows: 1fr -webkit-min-content 6rem 1fr;
      grid-template-rows: 1fr min-content 6rem 1fr;
  row-gap: 1.5rem;
}

.header_logo {
  height: 3rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header_btn {
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header_seenon-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #aaa;
  font-size: 1.6rem;
}

.header_seenon-text::before, .header_seenon-text::after {
  content: '';
  display: block;
  height: 1px;
  background-color: currentColor;
  z-index: 10;
}

.header_seenon-logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.header_seenon-logos img {
  height: 2.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.realtors {
  background-color: #101d2c;
  grid-column: 9 / -1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.realtors_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  row-gap: 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.realtors_img {
  width: 7rem;
  border-radius: 50%;
  display: block;
}

.realtors_sold {
  text-transform: capitalize;
  color: #aaa;
  margin-top: -3px;
}

.features {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
  margin: 15rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 6rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.feature_icon {
  fill: #c69963;
  width: 4.5rem;
  height: 4.5rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  margin: -1.5rem;
}

.feature_content {
  font-size: 1.7rem;
}

.story_pictures {
  background-color: #c69963;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / 7;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(198, 153, 99, 0.5)), to(rgba(198, 153, 99, 0.5))), url("../Images/back.jpg");
  background-image: linear-gradient(to right bottom, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url("../Images/back.jpg");
}

.story_img-1 {
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.story_img-2 {
  width: 115%;
  height: 115%;
  z-index: 10;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
}

.story_content {
  background-color: #f9f7f6;
  grid-column: 7 / -1;
  padding: 6rem 8vw;
  font-size: 1.5rem;
  font-style: italic;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: start;
}

.homes {
  margin: 15rem 0;
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / span 8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
}

.home {
  background-color: #f9f7f6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 3.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.home:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.home_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.home_like {
  fill: #c69963;
  width: 2.5rem;
  height: 2.5rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 1rem;
}

.home_name {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: "Josefin Sans", sans-serif;
  width: 80%;
  text-align: center;
  background-color: #101d2c;
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
  padding: 1.25rem 1.5rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.home .cta {
  grid-column: 1 / -1;
}

.home_rooms, .home_location {
  margin-top: 2.5rem;
}

.home_rooms, .home_location, .home_area, .home_price {
  font-size: 1.5rem;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home_rooms svg, .home_location svg, .home_area svg, .home_price svg {
  fill: #c69963;
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.gallery {
  grid-column: 2 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[7];
      grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  padding: 1.5rem;
}

.gallery_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  will-change: transform, scale, box-shadow;
}

.gallery_img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.gallery_img--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.gallery_img--2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

.gallery_img--3 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.gallery_img--4 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.gallery_img--5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
}

.gallery_img--6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
}

.gallery_img--7 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.gallery_img--8 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.gallery_img--9 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8 / 9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
}

.gallery_img--10 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
}

.gallery_img--11 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
}

.gallery_img--12 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
}

.gallery_img--13 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5 / 8;
}

.gallery_img--14 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8 / 9;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
}

.footer {
  background-color: #101d2c;
  grid-column: 2 / -1;
}

.nav {
  margin: 8rem 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav_item {
  list-style: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav_item:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #101d2c;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.nav_link {
  text-decoration: none;
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.6rem;
}
/*# sourceMappingURL=main.css.map */